
<% var title = 'Authentication Example' %>
<% include ../head %>

<h1>Login</h1>
<%- message %>
return_url: <%= returl %><br>
Try accessing <a href="/auth/restricted">/auth/restricted</a>, then authenticate with "admin" and "admin".
<form method="post" action="/auth/login">
  <input type="hidden" name="returl" value="<%= returl %>">  
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include ../foot %>
